body{
    background-color: rgb(95, 97, 221);
    font: arial;
}
header{
    color: white;
    text-align: center;
}
section{ 
    padding: 5px 8px;
    background-color: white;
    border-radius: 5px;
    width: 400px;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
    
}
#res{
    margin-top: 8px;
}
footer{
    color: white;
    text-align: center;

}